


@media screen and (max-width: 768px) {

    .header_index label {
        display: block;
    }

    .header_index nav ul {
        position: absolute;
        background-color: var(--naranja);
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
    }
        
    .menu {
        flex-direction: column;
        border-top: 1px solid whitesmoke;

    }

    #btn-menu:checked ~ .menu {
        margin: 0;
    }

    .section_portada {
        display: flex;
        flex-direction: column;
        place-items: center;
    }

}

