@import "./parciales/variables";
@import "./parciales/fonts";




@import "./parciales/mixin";




@import "./parciales/editorial";
@import "./parciales/boudoir";
@import "./parciales/about";
@import "./parciales/contacto";








    * {
        box-sizing: border-box;
        margin: 0;
        border: 0;
    }

    /* Hasta acá el reset */
/* ----------------Clases reutilizables -------------------*/ 

.contenedor {
max-width: 1200px;
margin: 0 auto;
padding: 0.75rem;
}

.a-car {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}



    /* ------------------------- Comienzo Header  --------------------- */
    
    .hbg {
   background-image: url(./Multimedia/fondos/sincerely-media-p-NQlmGvFC8-unsplash.jpg);
    background-repeat:no-repeat;
    background-size: 100%;

    .menu {
        display: flex;
        justify-content: space-between;
            h1, h2 {
        color: whitesmoke;
        }

    }

    h1 {

        font-family: julius sans one serif;
        font-size: $font-size-xl;
        p {
            font-size: $font-size-sm;
            font-weight: 200;
            font-family: gruppo;
        }
    }

    h2 {
        font-family: julius sans one;
        font-size: $font-size-lg;
        font-variant: small-caps;
        font-stretch: 10;
        }

    nav {

        ul {

        display: flex;
        list-style: none;
        justify-content: right;
        align-self: center;
        font-size: $font-size-sm;
        font-weight: 200;
        gap: 20px;

            a {

                text-decoration: none;
        color: whitesmoke;
        font-family: raleway;
        font-weight: 700;
        
        &:hover {
            opacity: 0.6;
     color: black;
        }

            }


        }
    }

}

/* -------------------------------------------Comienzo del main--------------------------- */
    
main {
    section {
        display: flex;
        padding: 20px;
        justify-content: center;
        gap: 30px;

            .image {
                position: relative;
             }

             .img {
                display: block;
                width: 100%;
              }

              .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                color: #fff;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                opacity: 0;
                transition: opacity 0.6s;
                font-family: poiret one;

                &:hover {
                    opacity: 1;
                }

              }
              
        article {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            color: black;
            margin: auto;

            div {
                padding: 30px;
                font-family: raleway;
                  }
            }
              
    }
}

/* ---------------------------Comienzo footer-------------------------- */

footer {
    background-image: url(./Multimedia/fondos/sincerely-media-p-NQlmGvFC8-unsplash.jpg);
    background-repeat:no-repeat;
    background-size: 100vw;


    div{
        display: flex;
        justify-content: space-between;

        ul.datos {
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            list-style: none;
            padding-left: 30px;
            font-family: raleway;

                li.li1 {
                    font-weight: 700;
                }

                li {

                    a {
                        text-decoration: none;
                        color: black;

                        &:hover {
                            opacity: 0.6;
                        }


                    }
                } 

            }

        ul.redes {
            list-style: none;
            align-items: flex-end;
            justify-content: space-between;
            padding-right: 30px;
            flex-direction: column;
            font-family: raleway;
            font-weight: 700;

            .instagram{
                background-image:url(./Multimedia/Iconos/instagram.png);
                background-repeat: no-repeat;
                padding-left: 30px;
            
            }

            .twitter{
                background-image: url(./Multimedia/Iconos/logotipo-de-twitter.png);
                background-repeat: no-repeat;
                padding-left: 30px;
            }
        
        }
        
    }
  }
