/* NAV */

.intro_editorial{
    @include carta;
    .texto_ed {
      @include carta_texto;

      h2{
          @include carta_h2
      }
      
      h3 {
          @include carta_h3;
      }


    }
    
}



.galeria_boudoir{
    display: flex;
place-items: center;
justify-content: center;
@media screen and (max-width: 768px) {
    display: none;
}
}

.galeria_editorial_boudoir{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    
    .imgbo1_1{
        grid-column: 3/span 2;
        grid-row: 1/span 2 ;
        justify-self: flex-start;
        align-self: flex-end;
        @media screen and (max-width: 768px) {
            display: none;
            
        }
    }
    
    .imgbo2_2 {
        grid-column: 1/span 2;
        grid-row: 1/span 1 ;
        align-self: flex-end;
    }
    
    .imgbo3_3{
        grid-column: 1/span 1;
        grid-row: 2/span 1;
    }
    
    .imgbo4_4{
        grid-column: 2/span 1;
        grid-row: 2/span 1 ;
    }

}
#galeria .col-lg-4 {
    margin: 0;
    padding-top: 25px;
}
#galeria img {
    width: 80%;
    height: 450px;
    @media screen and (max-width: 1024px) {
        width: 100%;
    }

}

#galeria img:hover {
    border: 5px solid white ;
}

.media-mobile {
      @media screen and (max-width: 320px) {
        display: none;
    
    }
}

.media-tablet {
    @media screen and (max-width: 768px) {
      display: none;
  
  }
}

.volver{
    display: flex;
    font-family: raleway;
    justify-content: flex-end;
    font-size: $font-size-sm;
    opacity: 90%;
    border-radius: 15px;
    padding: 15px;
    margin-right: 200px;
}

