.intro_editorial{
    @include carta;
    .texto_ed {
      @include carta_texto;
      
      h3 {
          @include carta_h3;

      }
      
      p {
          @include carta_p;
          
    }

    }
    
}

.logo {
    font-family: raleway;
}


 
.reverse {
    flex-direction: row-reverse;
    gap: 20px;
}





