.intro_editorial{
    @include carta;
    .portadas_carta{
        height: auto;
    }
    .texto_ed {
      @include carta_texto;
      
      h3 {
          @include carta_h3;

      }
      

    }
    
}

.logo {
    font-family: raleway;
}
 
.reverse {
    flex-direction: row-reverse;
    gap: 20px;

}






