$base-font-size: 1rem;
$font-size-xs: $base-font-size * 0.75;
$font-size-sm: $base-font-size * 1.5;
$font-size-md: $base-font-size * 1.75;
$font-size-lg: $base-font-size * 2;
$font-size-xl: $base-font-size * 3;
$font-size-xxl: $base-font-size * 5;

$fonts: (
  "default": $base-font-size,
  "1": $font-size-xs,
  "2": $font-size-sm,
  "3": $font-size-md,
  "4": $font-size-lg,
  "5": $font-size-xl,
  "6": $font-size-xxl,
);

@each $key, $val in $fonts {
  .font-#{$key} {
    font-size: $val;
  }
}